USE [master]
GO
/****** Object:  Database [BITM]    Script Date: 4/29/2017 7:40:52 PM ******/
CREATE DATABASE [BITM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BITM', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BITM.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BITM_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BITM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BITM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BITM]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 4/29/2017 7:40:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bill](
	[si] [int] IDENTITY(1,1) NOT NULL,
	[test] [varchar](50) NOT NULL,
	[fee] [int] NOT NULL,
	[bid] [nvarchar](50) NOT NULL,
	[billdate] [date] NOT NULL,
 CONSTRAINT [PK_bill] PRIMARY KEY CLUSTERED 
(
	[si] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[patient]    Script Date: 4/29/2017 7:40:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient](
	[bid] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[mobile] [nvarchar](50) NOT NULL,
	[billdate] [date] NOT NULL,
	[total] [int] NULL,
	[paid] [int] NULL,
	[due] [int] NULL,
 CONSTRAINT [PK_patient] PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[testsetup]    Script Date: 4/29/2017 7:40:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[testsetup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[testname] [nvarchar](50) NOT NULL,
	[fee] [nvarchar](50) NOT NULL,
	[testtype] [varchar](50) NOT NULL,
 CONSTRAINT [PK_testsetup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[testTypeSetup]    Script Date: 4/29/2017 7:40:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[testTypeSetup](
	[typename] [varchar](50) NOT NULL,
 CONSTRAINT [PK_testTypeSetup] PRIMARY KEY CLUSTERED 
(
	[typename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_testTypeSetup] UNIQUE NONCLUSTERED 
(
	[typename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[type_wise_report]    Script Date: 4/29/2017 7:40:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[type_wise_report]
as

select testsetup.testtype,bill.test,bill.fee,bill.billdate from testsetup,bill where testsetup.testname=bill.test

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_testsetup]    Script Date: 4/29/2017 7:40:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_testsetup] ON [dbo].[testsetup]
(
	[testname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_bill_patient] FOREIGN KEY([bid])
REFERENCES [dbo].[patient] ([bid])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_bill_patient]
GO
ALTER TABLE [dbo].[testsetup]  WITH CHECK ADD  CONSTRAINT [FK_testsetup_testTypeSetup1] FOREIGN KEY([testtype])
REFERENCES [dbo].[testTypeSetup] ([typename])
GO
ALTER TABLE [dbo].[testsetup] CHECK CONSTRAINT [FK_testsetup_testTypeSetup1]
GO
USE [master]
GO
